{% extends 'index.html' %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tentang</h1>
    </div>
    <h2>Latar Belakang</h2>
    <p>
        Jejaring sosial merupakan salah satu aplikasi yang paling ramai digunakan oleh seluruh manusia. Sehingga jejaring social seringkali digunakan sebagai sarana bagi masyarakat untuk beropini terhadap segala isu yang ada. 
Twitter merupakan salah satu jejaring sosial yang ramai digunakan oleh masyarakat Indonesia. Pada tahun 2021 tercatat kurang lebih 64% masyarakat Indonesia yang berumur 16 – 64 tahun mengaku pernah menggunakan jejaring sosial Twitter. Oleh karena itu banyak masyarakat Indonesia sering kali mengeluarkan opininya pada jejaring social Twitter.
Dengan banyaknya pengguna Twitter di Indonesia, tentu saja banyak opini yang dapat kita kumpulkan dari tweet yang beredar. Opini tersebut dapat kita kumpulkan untuk diolah dan dianalisa. Sehingga kita dapat tahu bagaimana respon masyarakat  terhadap sebuah isu yang ada di Indonesia.
Sentiment Analysis merupakan salah satu teknologi yang dapat kita gunakan untuk mengekstrak tweet yang diunggah oleh masyarakat Indonesia. Sentiment Analysis menggabungkan beberapa bidang seperti natural language processing, data mining, dan text mining. Sentiment analysis sering kali digunakan oleh perusahaan untuk membantu meningkatkan kualitas pelayanan serta produk yang mereka tawarkan terhadap pelanggan. Sentimen Analysis bertujuan untuk memahami pendapat dari pengguna yang diekspresikan dalam bentuk tulisan.
Sentiment Analysis merupakan metode yang tepat digunakan untuk mengekstrak opini-opini masyarakat terhadap PPKM yang diberlakukan pemerintah. Pada penelitian penulis akan menggunakan metode Maximum Entropy untuk menganalisa bagaimana respon masyarakat Indonesia terhahdap kebijakan PPKM pada media sosial Twitter.

    </p>
{% endblock %}