{% extends 'index.html' %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">TF-IDF Vectorizer</h1>
    </div>
    <p>
        Setelah melakukan preprocessing langkah selanjutnya adalah pembobotan kata menggunakan perhitungan Tf-idf. Tf-idf yaitu cara beri bobot hubungan suatu kata term terhadap kata. Kata tunggal setiap kalimat dianggap sebagai dokumen. Berikut contoh perhitungan Tf-idf dengan dokumen A positif, dokumen B netral dan C negatif dapat dilihat pada Tabel 3.2.
    </p>
{% endblock %}